<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alexa.mypokemonbag">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyPokemonBag">
        <activity
            android:name=".activity.BagActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DetailPokemonActivity"
            android:exported="false"
            android:label="@string/title_activity_detail_pokemon"
            android:parentActivityName=".activity.PokemonActivity"
            android:theme="@style/Theme.MyPokemonBag.NoActionBar" />
        <activity
            android:name=".activity.PokemonActivity"
            android:exported="false"
            android:parentActivityName=".activity.RegionActivity" />
        <activity
            android:name=".activity.RegionActivity"
            android:exported="false"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>